body {
	font: 16px arial, 'Microsoft Yahei', 'Hiragino Sans GB', sans-serif;
	background-color: #eeeeee;
}

h1 {
	margin: 0;
	text-align: center;
	color: #18842d;
	font-size: 26px;
}

hr {
	background-color: #20a43a;
}

.content {
	width: 45%;
	margin: 0 auto;

}

.content>div {
	margin-top: 200px;
	padding: 20px;
	background: #282c35;
	border-radius: 12px;
}

.content dl {
	color: #20a43a;
	line-height: 40px;
}

.content div div {
	padding-bottom: 20px;
	text-align: center;
}